@charset "utf-8"; /*
 * Navigation
 * @platform "mercadolibre"
 * @version 5.22.5
 * @author MercadoLibre.com
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor-body{
    @apply flex flex-col w-[1380px] md:h-[3950px] h-[16416] justify-center  bg-white;
}

.contenedor-main{
    @apply flex flex-col w-full md:h-[3703px] h-[12220px] bg-gray-300;
    
}

/* #########################Header######################### */

.cont-header-pp{
    @apply px-0 py-[10px] bg-[#FFF159] ;
}
.cont-header{
    @apply w-[1200px] h-[92px] ml-20;
}
.buscador-header{
   @apply absolute w-[600px] h-[92px] left-[300] top-[0px];
}
.form-header{
    @apply absolute w-[700px] h-[56px] left-[195px] top-[0px];
}
.ingresa-loquequieras{
    @apply absolute w-[600px] h-[39px] left-[1px] right-[1px] top-[8px] bg-white rounded-md;
}
.place-holder{
    @apply w-[598px] h-[39px] text-[#BFBFBF] pl-3;
}
.btn-lupa-header{
    @apply absolute w-[46px] h-[39px] right-[1px] top-[8px] bg-white rounded-r-md;
}

.logo-mercadolibre{
    @apply absolute w-[134px] h-[34px] left-[150px] top-[11px];
}
.crea-tucuenta{
    @apply absolute w-[295px] h-[52px] left-[856px] top-[48px];
}

.shopincar-conte{
    @apply absolute w-[30px] h-[30px] left-[856px] top-[48px];
}

.margen2{
    @apply ml-[140px] mt-[25px];  
}
.cont-ingresa-domicilio{
    @apply absolute w-[130px] h-[32px] left-[160px] right-[1041.75px] top-[63px];
}
.margen1{
    @apply mt-[10px];  
}

.texr-ingresa-domicilio{
    @apply absolute h-[22px] left-[9px] right-[5px] top-[5px];
}

/* ########################Novedades################################# */

.novedades-principales{
    @apply flex flex-col w-full h-[340px];
}
.aimagennovedades{
    @apply flex w-full h-[340px];   
}
.conte-ulnovedades-principales{
    @apply absolute w-[50px] h-[10px] left-[650px] right-[726px] top-[310px] bottom-3;
    
}

/* #########################FORMASPAGO######################### */
.formas-de-pago{
    @apply flex flex-row w-[1200px] md:h-[100px] h-[600px] ml-32 mt-4 bg-white shadow-sm rounded-md;
}
.mediospagos{
    @apply flex flex-col md:flex-row w-full h-full items-center gap-5 ml-10;
}
.contenedor-mediospagos{
    @apply w-[290.66px] h-[130px] flex flex-row gap-5 items-center;
}
.tamaño-icon{
    @apply flex md:w-[50px] md:h-[50px] w-full h-full;
}
.text-formaspago{
    @apply w-[265px] h-[20px] flex font-normal md:text-lg text-2xl text-black;
    font-family: Roboto, sans-serif;  
}
.text-vermas{
    @apply flex w-[98px] h-[35px] font-normal md:text-base text-2xl text-blue-500 p-1;
    font-family: Roboto,sans-serif;
}

/* ##################################Ofertas########################################### */

.ofertas-pp{
    @apply flex flex-col ml-32 w-[1200px] h-full items-center ;
  }
.ofertas-titulo{
    @apply flex flex-row w-[1200px] justify-center items-center p-6 h-[31.19px];
  }
.texto-ofertas{
    @apply flex w-[82px] h-[32px] font-normal text-2xl text-gray-600;
    font-family: Roboto,sans-serif;
  }
  .texto-vertdas{
    @apply flex w-[64px] h-[20px] font-medium text-sm text-blue-500;
    font-family: Roboto,sans-serif;
  }
  .barra-ofertas{
    @apply flex flex-col md:flex-row bg-blue-500 w-full h-full;
  }
  .barra-ofertas-inter{
    @apply flex flex-col w-full h-full px-10 lg:flex-row items-center gap-5 p-2;
  }
  .contenedor-ofertas{
    @apply flex flex-col w-full h-[350px] gap-4 bg-white shadow-sm rounded-md;
  }
  .contenedor-descuentos{
    @apply box-border flex flex-col px-4 w-[224px] h-[134.39px] border-t border-gray-400 border-opacity-25;
  }
  .conten-precio-microfono{
    @apply flex flex-col gap-2 w-[192px] h-[51px];
  }
  .text-precio-micro{
    @apply flex flex-row w-full h-[24px] items-center gap-3;
  }
  .estilo-precios-descuento{
    @apply w-[90px] h-[24px] flex font-normal text-2xl text-gray-700;
    font-family: Roboto,sans-serif;
  }
  .descuesto-off{
    @apply w-[60px] h-[16px] flex font-normal text-sm text-green-600;
    font-family: Roboto,sans-serif; 
  }
  .enviogratis-full{
    @apply flex flex-row w-[192px] h-[20px] text-sm font-semibold;
    font-family: Roboto,sans-serif; 
  }
  .text-eviomicro{
    @apply flex w-[66px] h-[20px] text-sm font-semibold text-green-600;
    font-family: Roboto,sans-serif; 
  }

  

/* ####################################Subenivel###################################### */

.sube-al-nivel-pp{
    @apply flex flex-col w-[1180px] md:h-[360px] h-[580px] ml-32 bg-white shadow-sm rounded-md; 
  }
  .suscribete-nivel-arriba{
    @apply flex flex-row justify-between w-[1180px] h-[87px] bg-gradient-to-r from-pink-700 to-blue-900 items-center;
  }
  .suscribete-nivel-centro{
    @apply flex flex-col w-[1180px] md:h-[172px] h-[400px] md:gap-8 gap-10 pl-10 mt-4 md:items-start items-center;
  }
  .boton-suscribete-nivel{
    @apply flex h-[48px] w-[123.72px] text-white font-semibold bg-blue-500 rounded-md justify-center p-4 mt-8 ;
  }
  .suscribete-nivel-abajo{
    @apply flex box-border w-[1180px] h-[81px] border-t border-gray-300 justify-end pr-8;
  }
.texto-sucribete-nivel{
    @apply  w-[233.95px] h-[38px] flex font-medium text-white text-3xl justify-center ml-4;
  }
  .suscribete-precio{
    @apply w-[123.94px] h-[40px]  flex flex-row gap-2 mr-6;
   }
  .pseudo-precios{
    @apply flex w-[3px] h-[50px] border-white;
  }
  .precio-suscripcion{
    @apply w-[56px] h-[14px] font-medium text-white text-sm flex;
    font-family: Roboto,sans-serif;
  }
  .precio-mes{
    @apply flex flex-col w-[123.94px] h-[24px];
  }
  .mes{
    @apply flex w-[30px] h-[3px] font-bold text-white text-sm ;
    font-family: Roboto,sans-serif;
  }
  .cont-precio-mes{
     @apply flex flex-row w-[150.45px] h-[35px] items-center;
  }
  .text-precio-mes{
    @apply w-[80px] h-[14px] font-semibold text-white  text-2xl flex;
    font-family: Roboto,sans-serif;
  }
  .consigue-mejores-precios{
    @apply flex w-[400.15px] h-[25px] font-normal text-xl items-center text-black;
    font-family: Roboto,sans-serif;
  }
  .barra-envios{
    @apply flex md:flex-row flex-col w-[1132px] h-[200px] items-center md:gap-0 gap-14;
  }
  .plataformassinrecargo{
    @apply w-[377.33px] h-[74px] flex items-center gap-4 flex-row;
  }
  .conten-icon-plataformas{
    @apply box-border md:w-[74px] md:h-[74px] w-[100px] h-[100px] border border-gray-300 rounded-full flex items-center       justify-center;
   }
  .lstarplus{
    @apply flex h-[72px];
  }

/* ####################################Beneficios###################################### */

.beneficios-punto-pp{
    @apply flex w-[1200px] md:h-[340px] h-[900px] ml-32;
}
.benedicios-texto{
    @apply flex flex-row w-[535.73px] h-[31.19px] mt-6;
}
.texto-beneficios{
    @apply flex w-[334px] h-[32px] items-center justify-center font-normal text-2xl text-gray-600;
    font-family: Roboto, sans-serif;
}
.texto-verbeneficios{
    @apply w-[161px] h-[20px] flex items-center justify-center font-normal text-sm  text-blue-500 mt-3;
    font-family: Roboto,sans-serif;
}
.contenedor-streaming{
    @apply flex flex-row w-[1200px] h-[266px];
}
.streaming-interior{
    @apply flex md:flex-row flex-col w-[1200px] h-[250px] gap-4 items-center;
}
.contenedor-disney{
    @apply flex flex-col w-[384px] h-[250px] rounded-[6px];
}

/* ####################################Descubre###################################### */

.descubre-pp{
    @apply flex flex-col w-[1200px] md:h-[355px] h-[700px] gap-4 ml-32;
}
.descubretext{
    @apply w-[129.59px] h-[33px] flex font-normal text-4xl justify-center items-center text-gray-600 ;  
      font-family: Roboto,sans-serif;
}
.descubreinter{
    @apply flex md:flex-row h-[465px] flex-col md:gap-4 gap-24 items-center;
}
.renuevaespacios{
    @apply flex flex-row h-[260px] bg-white shadow-sm rounded-md;
}
.text-renueva{
    @apply flex w-[213px] h-[12px] items-center font-semibold text-sm text-gray-600;
    font-family: Roboto,sans-serif;
}
.conte-renuevahogar{
    @apply flex flex-col w-[287.34px] h-[180.59px] mt-16 ml-10 gap-6;
}
.text-hogarespacios{
    @apply flex w-[251px] h-[21px] text-3xl font-bold text-gray-600 items-end;
    font-family: Roboto,sans-serif;
}
.hasta-50off{
    @apply w-[208px] h-[21px] flex font-bold text-3xl  text-gray-600;
    font-family: Roboto,sans-serif;
}
.boton-vermas{
    @apply flex w-[96px] h-[36px] bg-blue-500 rounded-md;
}
.vertext{
    @apply w-[50.83px] h-[20px] flex justify-center font-medium text-base p-2 ml-6 text-white;
    font-family: Roboto,sans-serif;
}
.estilo-imghogar{
    @apply flex w-[266px] h-[270px]  items-center;
}
.suscribete{
    @apply flex flex-row h-[260px] bg-white shadow-sm rounded-md;
}
.conte-plataformas{
    @apply flex flex-col w-[275.11px] h-[180.59px] mt-14 ml-10 gap-6;
}
.suscri-nivel6{
    @apply w-[214px] h-[12px] left-[32px] top-[32px] flex items-center font-semibold text-sm  tracking-widest text-gray-700;
    font-family: Roboto,sans-serif;
}
.porsolo{
    @apply w-[152px] h-[21px] flex font-bold text-3xl tracking-widest text-gray-700;
    font-family: Roboto,sans-serif;
}
.precio-cadames{
    @apply w-[261px] h-[21px] flex font-bold text-3xl tracking-widest text-gray-700;
    font-family: Roboto,sans-serif;
}
.boton-suscribirme{
    @apply flex w-[96px] h-[36px] bg-blue-500 rounded-md;
}
.estilo-imgpla{
    @apply flex w-[278px] h-[270px] items-center;
}

/* ##############################Seccionpp################################################# */

.seccion-pp{
    @apply flex flex-col w-[1362px] md:h-[455.19px] h-[1500px] bg-gradient-to-b from-gray-200 to-transparent;    
}
.caja-tiendas{
    @apply flex flex-col items-center md:items-start gap-6 ml-32 mt-4 w-[1200px] h-[505.19px]; 
}
.seccion-tiendas{
    @apply flex items-center gap-5 w-[454.64px] h-[60px];
}
.mejores-tiendas{
    @apply flex w-[342px] h-[32px] font-light text-3xl text-gray-600;
    font-family: Roboto,sans-serif;
}
.ver-tiendas{
    @apply w-[60px] h-[20px] font-normal flex text-sm text-blue-500;
    font-family: Roboto,sans-serif;
}
.caja-tiendas2{
    @apply flex flex-col items-center md:flex-row gap-4 w-[1200px] h-[356px];  
}
.contenedor-tienda{
    @apply flex w-[280px] h-[340px] justify-center bg-white shadow-md rounded-md;
}
.contenedor-tienda-int{
    @apply flex flex-col mt-10 justify-between items-center w-[280px] h-[300px] bg-white rounded-md;
}
.tamaño-home{
    @apply absolute flex w-[284px] h-[95px];
}
.logo-tienda{
    @apply flex z-0 justify-center w-[80px] h-[80px] bg-white shadow-md rounded-lg;   
}
.text-tienda{
    @apply absolute flex w-[284px] h-[35px] mt-32 ml-72;
}
.style-text-tienda{
    @apply flex w-[53.29px] h-[35px] font-medium text-2xl text-center text-gray-700;
}
.articulos-tienda{
    @apply flex flex-row justify-center w-[284px] h-[74px];
}
.articulo-3{
    @apply box-border flex w-[70px] h-[70px] border border-gray-300 rounded-lg;
}
.vertienda{
    @apply flex w-[68.84px] h-[22px] font-semibold text-base text-center text-gray-400;
    font-family: Roboto,sans-serif;
}

/* #################################Hcolecciones################################### */

.h-coleccione{
    @apply w-[344.67px] h-[31.19px] ml-32 flex flex-row;    
}
.text-colecciones{
    @apply w-[145px] h-[26px] font-normal flex items-center  text-2xl  text-gray-600;    font-family: Roboto,sans-serif;
}
.text-super-pp{
    @apply w-[145px] h-[26px]   flex items-center text-2xl font-bold leading-3 text-gray-600;
    font-family: Roboto,sans-serif;
}

/* ##################################colecciones################################### */

.colecciones{
    @apply flex w-[1200px] md:h-[382px] h-[2000px] ml-32;
}
.pedigre{
    @apply flex w-[383px] h-[281px] bg-white;
}
.container-super{
    @apply flex flex-col w-[383px] h-[100px] bg-white rounded-b-[4px];
}
.tex-descubre{
    @apply flex w-[93.82px] h-[18px] font-medium text-base  items-center justify-center tracking-[4px] text-gray-700 mt-6 ml-6;
    font-family: Roboto,sans-serif;
}
.conta-super-inter{
    @apply flex w-[358px] h-[41px] flex-row items-start px-4 pr-[137px];   
}
.tex-super{
    @apply w-[221px] h-[33px] font-bold text-3xl leading-[33px] flex items-center uppercase text-gray-700 flex-none flex-grow-0;
    font-family: Roboto,sans-serif;
}
.colecciones-inter{
    @apply w-[800px] md:h-[200px] h-[800px] md:flex-row flex-col items-center;
}
/* #############################Categoriaspopulares################################ */

.catego-populares{
    @apply  flex flex-col w-[1170px] md:h-[350px] h-[2400px] ml-32;
}
.categorias-text{
    @apply w-[241.36px] h-[37px]  font-normal text-2xl flex md:items-center text-gray-600;
    font-family: Roboto,sans-serif;
}
.categorias-pp{
    @apply flex flex-row items-start w-[1160px] h-[340px] bg-opacity-0 bg-white shadow-sm rounded-md;
}
.contenedor-categorias{
    @apply w-[1160px] h-[330px] items-center flex flex-row ; 
}
.organization{
    @apply  flex flex-col items-center md:flex-row w-[1200px] h-[340px];
}
.organization1{
    @apply  flex flex-col w-[166px];
}
.img-organi1{
    @apply flex flex-col w-[166px] h-[166px] gap-2 bg-white border-b border-r border-l border-t border-gray-300  hover:bg-slate-400;
}
.style-ico-pplares{
    @apply /* sm:w-[200px] sm:h-[200px]  */items-center ml-20 mt-12 w-[48px] h-[48px];
}
.style-text-pplares{
    @apply   w-[143.18px] h-[35px] font-normal text-base ml-4 flex items-center justify-center text-center text-gray-700;
    font-family: Roboto,sans-serif;
}

/* #####################################Section#################################### */

.section{
    @apply flex w-[1380px] md:h-[350px] h-[1100px] bg-white;    
}
.section-int{
    @apply flex md:flex-row flex-col w-[1200px] h-[80px] items-center mt-32;    
}
.section1{
    @apply flex flex-col h-[280px] gap-10 ml-32 mt-20;    
}
.payment{
    @apply flex items-center justify-items-center w-[66px] h-[46px] ml-32;   
}
.pagacontarje{
    @apply w-[280.89px] h-[39px] font-bold text-2xl flex items-center justify-center ml-4 text-center text-gray-700;
    font-family: Roboto,sans-serif;
}
.conmercado{
    @apply w-[303.4px] h-[95px] text-xl font-normal flex items-center justify-center text-center text-gray-500;
    font-family: Roboto,sans-serif;    
}
.comopagar{
    @apply  w-[225.11px] h-[50px] font-normal text-lg flex items-center justify-center ml-14 text-center text-blue-500;
    font-family: Roboto,sans-serif;
}
.shiping{
    @apply flex flex-row items-center justify-items-center p-0 w-[66px] h-[46px] ml-32;     
}
.enviogratis{
    @apply w-[268.73px] h-[39px] font-bold text-2xl flex items-center justify-center text-gray-700;
    font-family: Roboto,sans-serif;    
}
.consolotext{
    @apply w-[288.61px] h-[77px] font-normal text-xl flex items-center text-center text-gray-500;
    font-family: Roboto,sans-serif;    
}
.concebenefi{
    @apply w-[226.06px] h-[20px] font-normal text-lg ml-10 flex items-center text-center text-blue-500;
    font-family: Roboto,sans-serif;    
}
.protecte{
    @apply flex flex-row items-center justify-items-center p-0 absolute w-[66px] h-[46px] ml-44;    
}
.seguridadtext{
    @apply w-[268.73px] h-[55px] font-bold text-2xl flex items-center justify-center text-gray-700 ml-10;
    font-family: Roboto,sans-serif;    
}
.notegustatext{
    @apply w-[326.23px] h-[57px] font-normal text-xl flex items-center text-center text-gray-500;
    font-family: Roboto,sans-serif;    
}
.comotegustatext{
    @apply w-[150.64px] h-[40px] font-normal text-blue-500 text-center text-lg flex items-center ml-32;
    font-family: Roboto,sans-serif;    
}

/* ###########################Footer############################ */

.footer-pp{
    @apply box-border flex flex-col h-[156px] bg-white border-t border-gray-300;   
}
.footer1{
    @apply flex flex-col w-[1380px] h-[54px] p-2 pl-32;    
}
.footer2{
    @apply box-border flex flex-row w-[1180px] h-[69px] border-t border-gray-200 ml-32;
}
.textfooter1{
    @apply w-[286.98px] h-[17px] font-normal text-[11px] flex items-center text-gray-600;
    font-family: Roboto,sans-serif;   
}
.textulfooter1{
    @apply w-[299.28px] h-[17px] flex items-center font-normal text-xs text-gray-500;
    font-family: Roboto,sans-serif;  
}
.ulfooter1{
    @apply flex w-[744px] h-[13px];    
}
.trabajaconnosotros{
    @apply w-[113px] h-[13px] font-normal text-[12px] flex items-center text-gray-700;
    font-family: Roboto,sans-serif;
}
.terminosycondi{
    @apply w-[127px] h-[13px] font-normal text-[12px] flex items-center text-gray-700;
    font-family: Roboto,sans-serif;    
}
.conciudadanos{
    @apply w-[160px] h-[13px] font-normal text-[12px] flex items-center text-gray-700;
    font-family: Roboto,sans-serif;
}
.accesibilidad{
    @apply w-[72px] h-[13px] font-normal text-[12px] flex items-center text-gray-700;
    font-family: Roboto,sans-serif;    
}
.ayudaPQR{
    @apply w-[68px] h-[13px] font-normal text-sm flex items-center text-gray-700;
    font-family: Roboto,sans-serif;    
}
.wwwsic{
    @apply flex w-[84px] h-[13px] font-normal text-[12px] flex items-center text-gray-700;
    font-family: Roboto,sans-serif;    
}
/* #################################################################### */


html,body {
    font-size: 13px
}

/* ################################################################################ */

